.button-arrow {
   width: 3.2rem;
   height: 3.2rem;
   background-color: #8C0335;
   box-shadow: 5px 5px 0 #6e2c2c;
   cursor: pointer;
   border: none;
}

.button-arrow::before {
   content: " ";
   box-sizing: border-box;
   display: block;
   width: 1rem;
   height: 1rem;
   border: 17px solid transparent;
   border-left: 28px solid #FFF;
}