.button-arrow {
   width: 3.2rem;
   height: 3.2rem;
   background-color: #8C0335;
   box-shadow: 5px 5px 0 #3b1818;
   cursor: pointer;
   border: none;
}

.button-arrow .content {
   display: none;
} 

.button-arrow::before {
   content: " ";
   box-sizing: border-box;
   display: block;
   width: 1rem;
   height: 1rem;
   border: 17px solid transparent;
   border-left: 28px solid #FFF;
   transform: translateX(9px);
}

.button-arrow.-left::before {
   transform: rotate(180deg) translateX(12px);
}