.card-project {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #011F26;
   width: 17.5rem;
   height: 17.5rem;
   box-shadow: 10px 10px 0 #FFF;
}

.card-project.-gray {
   background-color: #3A4042;
}

.card-project .logo.-youtube{
   width: 15rem;
   height: 14rem;
}

.card-project .logo.-icone {
   width: 16.3rem;
   height: 17rem;
}