.main-section {
   background-color:  #8C0335;
   padding-top: 3.2rem;
   padding-bottom: 6.25rem;
   border-bottom: 10px solid #000;


}

.main-section .main-title {
   margin-bottom: 5rem;
}

.main-section.-bgProject {
   background-color: #014040;

}

.main-section.-bdFirst {
   border-color: #8C0335;
}

.main-section.-bgAbout {
   background-color: #0F0126;

}

.main-section.-bdSecond {
   border-color: #014040;
}

.main-section.-bgContact {
   background-color: #3A4042;

}
