.section {
   background-color:  #8C0335;
   padding-top: 3.2rem;
   padding-bottom: 6.25rem;
   border-bottom: 10px solid #000;
   height: 46rem;
}

.section .main-title {
   margin-bottom: 5rem;
}

.section.-bgBlack {
   background-color: #014040;
   height: 33rem;
}

.section.-bdFirst {
   border-color: #8C0335;
}