.title{
   font-family: "Press Start 2P", sans-serif; 
   font-size: 2.5rem;
   color: #8C0335;
   text-shadow:  4px 4px 0 #000000;
}

.title.-second {
   text-shadow: none;
   color: #FFF;
   text-align: center;
}